.homeh1{
	font-size: 50px;
	color:#007BFF;
	text-align: center;
	border-bottom: 2px solid black;
}
.navbar{
	margin-bottom: 30px;

}
table{
	margin-left: auto;
	margin-right: auto;
}
tr.border_bottom td {
  border-bottom:1pt solid black;
}
footer{
	margin-top: 30px;
	text-align:center;
	margin-bottom: 30px;
}
.home{
	text-align: center;
}
.content{
	margin-top: 350px;
}
.summoner{
	color:#007BFF;
	text-align: center;
	font-size: 60px; 
	margin-bottom: 30px;
	border-bottom: 2px solid black;
}
.bigBox{
	background-color: aqua;
	margin:auto;
	height: 1000px;
	overflow: hidden;
}
.info{
	margin-left: 2%;
	width: 30%;
	border-style: solid;
	border-width: 2px;
	border-color:black;
	background-color: red;
	float: left;
}
.matchHistory{
	overflow: hidden;
}
.redTeam{
	float:left;
	background-color: red;
}
.blueTeam{
	overflow: hidden;
	background-color: blue;
}
.wins{
	color:blue;
}
.losses{
	color:red;
}
.rankData{
	font-size: 25px;
}
h1.leaderBoard{
	font-size: 40px;
	color:#007BFF;
	text-align: center;
	border-bottom: 2px solid black;
}